body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.spore {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.button-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 520px;
}